<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Available Doctors</h2>
<ul>
  {% for doctor in doctors %}
  <li>
    <img src="{{ doctor.profile_picture.url }}" alt="Profile Picture" style="width: 50px; height: 50px;">
    <strong>{{ doctor.username }}</strong>
    <a href="{% url 'book_appointment' doctor.id %}"><button>Book Appointment</button></a>
  </li>
  {% endfor %}
</ul>
</body>
</html>

